#image_filters{
    padding: 100px 0px;
    background-color: cadetblue;
}

.v-i{
    font-weight: 700;
    font-size: 50px;
    color: black;
}

#portfolio{
    padding: 100px 0px;
    background-color: cadetblue;
}